name: build

on:
  push:
    branches:
      - master
  pull_request:

env:
  DOTNET_NOLOGO: true

concurrency:
  group: ${{ github.workflow }}-${{ github.event.number || github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  test:
    runs-on: ${{ matrix.os }}
    timeout-minutes: 15

    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 2
          filter: blob:none # We don't need all blobs

      - uses: actions/cache@8b402f58fbc84540c8b491a91e594a4576fec3d7 # v5.0.2
        with:
          path: ~/.nuget/packages
          key: ${{ runner.os }}-nuget-${{ hashFiles('**/*.csproj', '**/*.props', '**/*.targets') }}

      - uses: actions/setup-dotnet@baa11fbfe1d6520db94683bd5c7a3818018e4309 # v5.1.0
        with:
          dotnet-version: |
            8
          dotnet-quality: ga

      - name: restore
        run: dotnet restore

      - name: build
        run: dotnet build --no-restore ./MimeMapping.sln

      - name: test
        run: dotnet test --no-build ./MimeMapping.sln

      - name: Codecov
        uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de # v5.5.2
        with:
          files: '**/TestResults/*/*.cobertura.xml'
          token: ${{ secrets.CODECOV_TOKEN }}

  build:
    needs: [test]
    runs-on: windows-latest
    timeout-minutes: 15

    env:
      CONFIGURATION: Release

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0 # needed so minver finds git tags https://github.com/actions/checkout/issues/172
          filter: blob:none # We don't need all blobs

      - uses: actions/cache@8b402f58fbc84540c8b491a91e594a4576fec3d7 # v5.0.2
        with:
          path: ~/.nuget/packages
          key: ${{ runner.os }}-nuget-${{ hashFiles('**/*.csproj', '**/*.props', '**/*.targets') }}

      - name: restore
        run: dotnet restore

      - name: build
        run: dotnet build -c release --no-restore

      - name: pack
        run: dotnet pack -o bin --no-build

      - uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: packages
          path: bin/*.nupkg
