name: build

on:
  push:
    branches:
      - master
  pull_request:

env:
  DOTNET_NOLOGO: true

concurrency:
  group: ${{ github.workflow }}-${{ github.event.number || github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  test:
    runs-on: ${{ matrix.os }}
    timeout-minutes: 15

    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]

    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          fetch-depth: 2
          filter: blob:none # We don't need all blobs

      - uses: actions/cache@0400d5f644dc74513175e3cd8d07132dd4860809 # v4.2.4
        with:
          path: ~/.nuget/packages
          key: ${{ runner.os }}-nuget-${{ hashFiles('**/*.csproj', '**/*.props', '**/*.targets') }}

      - uses: actions/setup-dotnet@67a3573c9a986a3f9c594539f4ab511d57bb3ce9 # v4.3.1
        with:
          dotnet-version: |
            6
            8
          dotnet-quality: ga

      - name: restore
        run: dotnet restore

      - name: build
        run: dotnet build --no-restore ./MimeMapping.sln

      - name: test
        run: dotnet test --no-build ./MimeMapping.sln

      - name: Codecov
        uses: codecov/codecov-action@5a1091511ad55cbe89839c7260b706298ca349f7 # v5.5.1
        with:
          files: '**/TestResults/*/*.cobertura.xml'
          token: ${{ secrets.CODECOV_TOKEN }}

  build:
    needs: [test]
    runs-on: windows-latest
    timeout-minutes: 15

    env:
      CONFIGURATION: Release

    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          fetch-depth: 0 # needed so minver finds git tags https://github.com/actions/checkout/issues/172
          filter: blob:none # We don't need all blobs

      - uses: actions/cache@0400d5f644dc74513175e3cd8d07132dd4860809 # v4.2.4
        with:
          path: ~/.nuget/packages
          key: ${{ runner.os }}-nuget-${{ hashFiles('**/*.csproj', '**/*.props', '**/*.targets') }}

      - name: restore
        run: dotnet restore

      - name: build
        run: dotnet build -c release --no-restore

      - name: pack
        run: dotnet pack -o bin --no-build

      - uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        with:
          name: packages
          path: bin/*.nupkg
