name: release

on:
  push:
    tags:
      - v*

# https://github.com/adamralph/minver

env:
  DOTNET_NOLOGO: true

concurrency:
  group: ${{ github.workflow }}-${{ github.event.number || github.ref }}
  cancel-in-progress: false

permissions:
  contents: read

jobs:
  nuget-release:
    runs-on: windows-latest
    timeout-minutes: 15

    env:
      CONFIGURATION: Release

    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          fetch-depth: 0 # needed so minver finds git tags https://github.com/actions/checkout/issues/172
          filter: blob:none # We don't need all blobs

      - uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        with:
          path: ~/.nuget/packages
          key: ${{ runner.os }}-nuget-${{ hashFiles('**/*.csproj', '**/*.props', '**/*.targets') }}
          restore-keys: |
            ${{ runner.os }}-nuget
          
      - name: restore
        run: dotnet restore

      - name: build
        run: dotnet build --no-restore

      - name: pack
        run: dotnet pack -o bin

      - uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        with:
          name: packages
          path: bin/*.nupkg

      - name: deploy nuget.org
        run: find bin -name '*.nupkg' | xargs dotnet nuget push -s $NUGET_SOURCE -k $NUGET_KEY --skip-duplicate --force-english-output
        shell: bash
        env:
          NUGET_SOURCE: https://api.nuget.org/v3/index.json
          NUGET_KEY: ${{ secrets.NUGET_API_KEY }}

          
  gh-release:
    needs:
      - nuget-release
    runs-on: ubuntu-latest
    timeout-minutes: 15
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          fetch-depth: 0 # needed so minver finds git tags https://github.com/actions/checkout/issues/172
          filter: blob:none # We don't need all blobs

      - name: prepare version
        run: echo VERSION=${GITHUB_REF_NAME#v} >> $GITHUB_ENV

      - name: Generate changelog with git-cliff
        uses: tj-actions/git-cliff@679041f051a4d2ab452f7e5e7b0eed2abee21131 # v2.2.0
        with:
          args: --latest --strip all
          output: 'CHANGELOG.md'
      
      - uses: ncipollo/release-action@b7eabc95ff50cbeeedec83973935c8f306dfcd0b # v1.20.0
        with:
          bodyFile: 'CHANGELOG.md'
          name: ${{ env.VERSION }}
          prerelease: ${{ contains(github.ref_name, '-') }}
